body {
  margin: 0px;
  background-color: black;
  color: white;
}

.main {
  margin-top: 70px;
}

.hero {
  height: 700px;
  background-image: url("../assets/hero-background.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #1a1b1f;
  align-items: center;
}

.hero .ctn {
  max-width: 565px;
  font-size: 20pt;
  margin: 50px;
  margin-bottom: -4px;
}

.hero .ctn img {
  max-width: 435px;
}

.hero .txtCtn {
  margin: 0;
  white-space: pre-wrap;
}

.hero .subTxt {
  color: rgb(185, 185, 185);
  margin: 25px 0px 25px 0px;
  line-height: 1.4;
  font-size: 14pt;
}

.hero .btnCtn {
  display: flex;
  flex-direction: row;
}

.hero .primaryBtn {
  margin-right: 12px;
  padding: 12px;
  background-color: white;
  color: black;
  border: none;
  border: solid 2px white;
  border-radius: 20px;
  font-size: 11pt;
  font-weight: 600;
  transition: 0.3s;
}

.hero .primaryBtn:hover {
  background-color: rgb(195, 195, 195);
  border: solid 2px rgb(195, 195, 195);
}

.hero .secondaryBtn {
  padding: 12px;
  background-color: #00000029;
  color: white;
  border: none;
  border: solid 2px white;
  border-radius: 20px;
  font-size: 11pt;
  font-weight: 500;
  transition: 0.3s;
}

.hero .secondaryBtn:hover {
  background-color: white;
  color: black;
}

.cpt {
  font-size: 10pt;
  margin: 10px 0px 10px 0px;
  color: gray;
}

.sct {
  padding: 25px;
}

.altCtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  flex-wrap: wrap;
}

.altChildCtn {
  max-width: 400px;
  color: rgb(185, 185, 185);
  line-height: 1.4;
  font-size: 14pt;
}

.altChildCtn h2 {
  color: white;
}

.altChildCtn p {
  margin-top: -10px;
}

.altChildCtn img {
  max-height: 400px;
}

.gridCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0px 55px 0px;
  border-top: solid 1px #1a1b1f;
}

.gridCtn .header {
  margin-bottom: 20px;
}

.underline {
  display: inline-block;
  position: relative;
  font-size: 28px;
  font-weight: bold;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 15px;
  background-image: url('../assets/underline.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ftGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.gridItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}

.gridItem .vCtn {
  align-items: left;
  margin-left: 20px;
}

.gridItem h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16pt;
}

.gridItem p {
  margin: 0;
  color: #7c7c7c;
  line-height: 1.35;
  font-size: 13pt;
}

.gridItem .icon {
  background-color: #202020;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #007AFF;
}

footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  border-top: solid 1px #1a1b1f;
  padding: 20px;
}

footer .vCtn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px 10px 2px 10px;
}

footer .hCtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer img {
  max-width: 50px;
  max-height: 50px;
}

footer h2 {
  margin-left: 10px;
}

footer .copyright {
  font-size: 9.5pt;
  color: #656565;
  text-align: center;
}

.btnBrand {
  all: initial;
  margin-left: 18px;
  color: #7c7c7c;
  transition: 0.4s;
}

.btnBrand:hover {
  all: initial;
  margin-left: 18px;
  transition: 0.4s;
  color: #656565;
}

@media (max-width: 995px) {
  .hero .txtCtn {
    font-size: 18pt;
  }
}

@media (max-width: 960px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .hero .ctn {
    margin-bottom: 40px;
  }

  .hero .ctn img {
    margin-bottom: -60px;
  }

  .hero .btnCtn {
    justify-content: center;
  }
  
  .hero .txtCtn {
    font-size: 18pt;
  }
  
  .altCtn {
    align-items: center;
    flex-direction: column;
  }
  
  .altCtn:nth-child(2n) {
    margin-top: 20px;
    flex-direction: column-reverse;
  }
}
