.dashboard {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 16px;
    height: 100vh;
    padding: 20px;
}

.leftColumn {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
}

.overview {
    background-color: #1a1b1f;
    padding: 20px;
    border-radius: 20px;
}

.overview .btnCtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
}

.overview .btnCtn .btn {
    height: 100%;
    margin: auto 0;
}

.sectionTwo {
    padding: 16px;
}

.sectionThree {
    padding: 16px;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .leftColumn {
        grid-template-rows: auto;
    }

    .sectionTwo,
    .sectionThree {
        grid-column: 1;
        grid-row: auto;
    }
}
