.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15.6px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #1a1b1f;
}

.header h3 {
    margin: 0 auto;
}

.spcr {
    flex-grow: 1;
}

.content {
    padding: 20px;
}

.songGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: stretch;
}

.songLink {
    text-decoration: none;
    color: inherit;
}

.songItem {
    background-color: #292929;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: background-color 0.3s;
}

.songItem:hover {
    background-color: #3a3a3a;
}

.songItem h3 {
    margin: 0;
    font-size: 16px;
}

.header button {
    width: 38px;
    height: 38px;
    padding: 8px;
    border-radius: 25%;
    background-color: rgb(50, 50, 50);
    color: white;
    margin: 0 auto;
    font-weight: 600;
    font-size: 11.5pt;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.header button:hover {
    background-color: rgb(40, 40, 40);
}

.header button + button {
    margin-left: 10px;
}