.dashboard {
    display: grid;
    grid-template-columns: 2.2fr 2fr;
    gap: 26px;
    height: 100vh;
    padding: 20px;
}

.leftColumn {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 26px;
}

.overview {
    background-color: #1a1b1f;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.overview .ctn {
    width: 50%;
    padding: 20px;
}

.overview .ctn:nth-child(odd) {
    border-right: #323232 solid 1px;
}

.overview .btnCtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.overview .btnCtn .btn {
    height: 100%;
    margin: auto 0;
    cursor: pointer;
}

.sectionHeader {
    font-size: 12pt;
    font-weight: 700;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .sectionTwo,
    .sectionThree {
        grid-column: 1;
        grid-row: auto;
    }
}

/*********************************/

.songRow {
    padding: 16px;
    background-color: #1a1b1f;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.folderRow {
    padding: 16px;
    background-color: #1a1b1f;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.songRow:hover {
    background-color: #2a2b30;
}

.folderRow:hover {
    background-color: #2a2b30;
}

.songRow h2 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 13pt;
}

.folderRow h2 {
    margin: 0;
    font-size: 12pt;
    font-weight: 500;
}

.songRow p {
    margin: 0;
    font-size: 11pt;
    color: #bbbbbb;
}
