.mainCtn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 18px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #1d1d1dd1;
    background-color: black;
    z-index: 1000;
}

.header h1 {
    margin: auto 10px;
    font-size: 16pt;
}

.sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    width: 350px;
    background-color: rgb(30, 30, 30);
    overflow-y: auto;
    z-index: 1000;
}

.sidebar .sidebarCnt {
    padding: 12px;
}

.sidebar p {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.songCnt {
    padding: 18px;
    padding-top: 0px;
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - 70px);
    box-sizing: border-box;
    position: relative;
}

.header button {
    width: 38px;
    height: 38px;
    padding: 8px;
    border-radius: 25%;
    background-color: rgb(30, 30, 30);
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 11.5pt;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.header button:hover {
    background-color: rgb(20, 20, 20);
}

.header button + button {
    margin-left: 10px;
}

textarea {
    padding: 15px;
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 12pt;
}